@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*MERRIWEATHER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* M PLUS 1 CODE FONT(JAPAN FONT)*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
  --footer-color: #161cb5;
  --header-color:#161cb5 ;
  --main-color : #F8F6F0;
  --font-color : #4A4033;
  --jap-color :#da010a;

  --title-font : "Jost", serif;
  --body-font : "Merriweather", serif;
  --jap-font : "M PLUS 1 CODE", sans-serif;
}

main {
  font-family: var(--body-font);
  

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 3rem;
  
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

}

main.loaded {
  opacity: 1;
  transform: translateY(0);
}

.titre-container {

   position: relative;
    width: 100%;
    height: 12vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
 

    z-index: 1;
}

.titre-container h1 {
    font-family: var(--title-font);
    color: var(--font-color);
    font-style: normal;
    font-weight: 450;
    letter-spacing: 15px;

    z-index: 2;
    font-size: 5rem;
    
}

.gif-container {
   position: absolute;
   width: 100vw;
   height: 100%;

  
   z-index: 0; 
}


.background-gif {
       position: absolute;
       object-fit: contain;
       width: 100vw; 
       height: 100%; 
   
}

.formulaire-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
  margin: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
 
  color: var(--font-color);
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 1px;

  
  word-spacing: 1px;
  

}

.formulaire-description p:first-child {
  width: 65%;
  text-align: center;
}

.formulaire-description p:last-child {
  width: 65%;

  position: relative;
  text-align: center;
 font-weight: 600;

  margin-top: 1rem;
  border-top: 3px solid var(--jap-color); 
  border-bottom: 3px solid var(--jap-color); 
  padding: 10px 0; 

  word-spacing: 5px;

}


.contact-form-container {
  background: #165E83;
    
  margin-top: 3rem;
  margin-bottom: 10rem;
  border-radius: 8px;
  border: 24px solid  #035882;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
  width: 60%;
  min-height: 80vh;
  
  position: relative;
  display: flex;
  flex-direction: column;
  

  overflow: hidden;


}
.contact-form-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  
}

.contact-form-titre .jap-titre {
  font-family: var(--jap-font);
  color: #51788b;
  
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 1px;
 
  
  position: relative;
  z-index: 0;
  
}

.contact-form-titre .fr-titre {
  font-family:var(--title-font);
  font-size: 2rem;
  color: var(--main-color);
  width: 100%;
  height: max-content;
 
  font-style: normal;
  font-weight: 300;
  z-index: 1;

  position: absolute;
  left: 25%;
  top: 30px;
  
}


#contactForm {
  position: absolute;
  top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  width: 100%;
 
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-group:nth-child(3) {
  grid-column: 1 / -1;
  margin-right: 10px;
  text-align: center;
 
}
select {
  width: auto;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  border: 4px solid #035882;
  border-radius: 5px;
  background-color: var(--main-color);
 
 
  background-position: right 10px center;
  background-size: 12px;
}

/* Style pour les options */



.form-group:nth-child(4) {
  grid-column: 1 / -1;
 margin-right: 10px;
 
}

#name {
  grid-column: 1;
  
}

#email {
  grid-column: 2; 
}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

label:focus {
  border-color: #035882;
}




textarea{
  width: 95%;
  padding: 10px;
  margin: 5px 5px;
  border: 2px solid #035882;
  border-radius: 4px;
  resize: none;

  background-color: var(--main-color);
  outline: #035882;
}
input {
  width: 95%;
  padding: 10px;
  margin: 5px 5px;
  border: 4px solid #035882;
  border-radius: 4px;
  resize: none;
  background-color: var(--main-color);
  outline: #035882;
}

input:focus, textarea:focus {
  border-color:#035882; /* Change la couleur de la bordure lors du focus */
  box-shadow: 0 0 5px rgba(180, 84, 25, 0.5); /* Ajoute une ombre pour indiquer le focus */
}

button{
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;

  grid-column: 1/ span 2 ; 
  width: 30%;
  justify-self: center;
  background: #4f768a;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: var(--jap-color);
}


textarea {
  width: 100%;
}

label {
  margin: 3px 10px;
}



.hidden {
  display: none;
}







 #successMessage,
 #errorMessage {
 
  position: absolute;
  width: 100%;
  
  min-height: 10vh;
  bottom: 0%;

  margin-bottom: 15px;
  
  
  
  font-family: var(--title-font);
  
  white-space: nowrap;
 animation: moveMessage 7s linear infinite;
}

.text-container {
  position: absolute;
  margin-left: 150px;
}
.text-container:nth-child(2) {
 left: -100%;
}
.text-container:last-child {
  left: -200%;
}


.japMessage {
  display: flex;
  
  align-items: flex-start;
  justify-content: space-between;

  position: absolute;
  bottom: 10%;

  font-weight: 600;
  font-size: 3rem;
 
}


#successMessage .japMessage {
  color:var(--main-color);
  
}

#errorMessage .japMessage {
  color: rgb(238, 128, 73);
  font-size: 2rem;
}

.frMessage {
  position: relative;


  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
 
}

#successMessage .frMessage {
  color: rgb(14, 154, 14);
}

#errorMessage .frMessage {
  color: rgb(223, 34, 27);
  font-size: 1.5rem;
}



@keyframes moveMessage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
 
}


.illu-contact {
  display: flex;
  position: absolute;
  right: 0;
  top: 65vh;

  
}

.illu-contact img{
  width: 90%;
}



@media screen and (max-width:1280px) {
  .illu-contact {
    display: flex;
    position: absolute;
    right: -5%;
    top: 65vh;
  }
  .illu-contact img{
    width: 70%;
  
  }
}


@media screen and (max-width: 850px){

  .titre-container {
    
    width: 100%;
    height: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    
 
   
}
.titre-container h1 {
    font-family: var(--title-font);
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 450;
    letter-spacing: 5px;
    text-align: center;
    
}
.formulaire-description {
  font-size: 13px;
  margin: 5px;
  text-align: justify;

}

.formulaire-description p:first-child{
  width: 95%;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.formulaire-description p:last-child {
  font-size: 15px;
}
.formulaire-description p:last-child {
  width: 75%;

  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin-top: 1rem;
  border-top: 3px solid var(--jap-color); 
  border-bottom: 3px solid var(--jap-color); 
  padding: 10px 0; 

  word-spacing: 5px;

}

  .contact-form-container {
    
    width: 95%;
    min-height: 80vh;

    border: 12px solid #035882;

  }
  .contact-form-titre {
    margin-top: 20px;
  }

  .contact-form-titre .jap-titre {  
    font-size: 20px;
  }

  .contact-form-titre .fr-titre {
    font-family:var(--title-font);
    font-size: 18px;
    color: var(--font-color);
    width: 100%;
    height: max-content;
   
    font-style: normal;
    font-weight: 300;
    z-index: 1;
  
    position: absolute;
    left: 15%;
    top: 10px;
    
  }
  
  #contactReason {
    width: 90%;
  }

  
.japMessage {
  
  font-size: 3rem;
  margin-right: 2rem;


}

.frMessage {
  font-size: 2rem;
}


.poisson {
  display: none;
}
}