/*FICHIER DE STYLE GENERAL DU SITE + POUR LE HEADER*/

/*JOST FONT*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*MERRIWEATHER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* M PLUS 1 CODE FONT(JAPAN FONT)*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
  --header-color: #c16e1b;
  --main-color : #964d04;
  --font-color : #fff6ee;
  --jap-color : #B45419;

  --title-font : "Jost", serif;
  --body-font : "Merriweather", serif;
  --jap-font : "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  color: var(--font-color);
}

header {
  background-color:var(--header-color);
  color: var(--font-color);
  font-family: var(--title-font);
}

@media screen and (max-width:450px) {
  .container {
    max-width: 1050px;
    width: 90%;
  }
  
  .navbar_bigo {
    width: 100%;
    box-shadow:  0 3px 12px rgba(21, 23, 24, 0.15);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar_bigo .menu-items_bigo {
    display: flex;
  }
  
  .navbar_bigo .nav-container li {
    list-style: none;
   
  }
  
  .navbar_bigo .nav-container .navLink{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar_bigo .nav-container a:hover{
      font-weight: bolder;
  }

  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--font-color);
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar_bigo .menu-items_bigo {
    padding-top: 120px;
    height: 100vh;
    width: 120%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: var(--header-color);
   
  }
  
  
 .menu-items_bigo li {
   position: relative;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.menu-items_bigo .japNav {
  position: absolute;
  font-size: 3.5rem;
  color: var(--jap-color);
  z-index: 0;

}
 .menu-items_bigo a {
    position: relative;
    top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
  }
  

  .logo {
    position: absolute;
    top: 2em;
    right: -2em;
    font-weight: 750;

  }


  
  .nav-container input[type="checkbox"]:checked ~ .menu-items_bigo {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  
  
  .navbar_bigo .nav-container .navLink .active {
    color: maroon;
    font-weight: 900;
  }
 
  
}