/*FICHIER DE STYLE GENERAL DU SITE + POUR LE HEADER*/

/*JOST FONT*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*MERRIWEATHER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* M PLUS 1 CODE FONT(JAPAN FONT)*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
  --header-color:/* #a32e23f7 ROUGE VIF*/ /*#c57112 ORANGE VIF*/ #035882 /*BLEU PROFOND*/ /* #2D6D4B VERT PROFOND*/ 
 /* #77428D VIOLET SATURE*/;
  --footer-color:/*BEIGE CLAIR  #e5c9a2*/ /*JAUNE CLAIR #e7d659 */ /* #A59ACA VIOLET LIGHT*/ #035882;
  --main-color : #F8F6F0;
  --font-color : #4A4033;
  --jap-color :#a32e23f7;

  --title-font : "Jost", serif;
  --body-font : "Merriweather", serif;
  --jap-font : "M PLUS 1 CODE", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
 

}
html, body, * {
  cursor: url('../docu_ressources/redketchup/favicon-32x32.png'), auto;
}

*::-webkit-scrollbar {
  display: none;
}


body {
  
  width: 100%;
  
  box-sizing: border-box;

  position: relative;
 

}


main {
  margin: 0; /* Supprime les marges par défaut */
  flex: 1;
  
}

header {
  background-color:var(--header-color);
  color: var(--main-color);
  font-family: var(--title-font);

  z-index: 1;
}

.navbar_bigo {
  display: none;
}

.navbar {
  width: 100%;
  height: 17vh;
 

  position: sticky;
  display: flex;
  flex-direction: row;
}
.logo a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  
}
.logo {
  position: absolute;
  left: 2%;
  top: 10%;
  
  font-size: 20px;
  font-weight: 800;

  
  border:solid transparent 2px;
  border-radius: 3%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
  0 1px 3px rgba(0, 0, 0, 0.06);
}


.menu-items  {
    
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style: none;
  position: absolute;
   
}

.menu-items a {
  text-decoration: none;
  margin-bottom: 2rem;
}

.japNav {
  font-family: var(--jap-font);
  position: relative;
  top: 7vh;

  color: var(--jap-color);
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0;
  
  z-index: 0;
}



.menu-items h2 {

  text-decoration: none;
  position: absolute;
  top: 11.5vh;
  text-decoration: none;
  font-weight:800;
  color:  var(--main-color);
  z-index: 1;
}

.menu-items .navLink.active .japNav {
  color: var(--main-color);
}
.menu-items .navLink.active h2 {
  color: var(--jap-color);
}


/*FOOTER*/

footer {
 
  position: relative;
  bottom: auto;

 
  

  width: 100%;
  height: 100px;


  display: flex;
  justify-content: space-between;
  align-items: center;

 background-color: var(--footer-color);
  padding : 10px;

border-bottom: solid var(--jap-color) 12px;


}


.footer-anim {
  display: flex;
  height: 100px;
  width: 105px;

  position: absolute;
  left: 48%;
  top: 3%; 
 
  
   
  /*animation:moveIcon 5s infinite ease-in-out;*/  /* Animation fluide et infinie */
}

.footer-anim> img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: none;
}

.footer-description {
  position: relative;
  display: flex;
 
 

 height: 100%;
  width: 100%;
}



.liens-footer {
  /* width: 100%;pour centrer les icones*/
  color: var(--font-color);
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;

  gap: 50px;

}

.liens-footer a:hover  {
        animation: scale 0.8s infinite alternate;  
    }


    @keyframes scale{
      0% {
          transform: scale(1);
          
      }
      50% {
          transform: scale(1.1);
          
      }
      100% {
          transform: scale(1);
        
      }
  }


    

.icone-reseaux {
  
  height: 50px;
  width: 50px;


}






.footer-info {
  font-size: 11px;
  color: var(--main-color);
  position: absolute;
  bottom: 0px;
  right: 0;
  margin-right: 2rem;
  letter-spacing: 2px;
  font-weight: 100;
}

@media screen and (max-width:850px) {
  .japNav {
    font-family: var(--jap-font);
    position: relative;
    top: 9.5vh;
  
    color: var(--jap-color);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0;
    
    z-index: 0;
  }
  
  
  
  .navLink {
  
    position: absolute;
    top: 12vh;
    text-decoration: none;
    font-weight:800;
    color:  var(--main-color);
    z-index: 1;
  }

  /* FOOTER */

  footer {
    position: absolute;
    bottom: 0;
    height: 90px;
    padding: 10px;
    width: 100%;


  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--footer-color);
  padding: 10px 0;
  }


  .liens-footer {
    margin-left: 0;
    gap: 10px;
    font-size: 13px;
    margin-left: 5px;

    margin-bottom: 0%;
    font-weight: 700;
    
    
  
  }

  .icone-reseaux svg{
  
    filter: brightness(0) invert(1);
    height: 125px;
    width: 125px;
  
  
  }
  
  
 

  .footer-info {
    font-size: 7px;
    font-weight: 100;
    letter-spacing: 1px;

    position: absolute;
    bottom:  15%;
    
    margin-right: 0.5rem;

    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  }

  .footer-anim {
    display: flex;
    height: 90px;
    width: 81px;
  
    position: absolute;
    left: 44%; 
    right: 25%;
    top: 5%;
   
    
     
    /*animation:moveIcon 5s infinite ease-in-out;*/  /* Animation fluide et infinie */
  }
  
  .footer-anim> img {
    display: flex;
    width: 100%;
    height: 100%;
    padding: none;
  }
}

@media screen and (max-width:550px) {
  .navbar {
    display: none;
  }
  .container {
    max-width: 1050px;
    width: 90%;
  }
  
  .navbar_bigo {
    position: relative;
    display: flex;
    width: 100%;
    box-shadow:  0 3px 12px rgba(21, 23, 24, 0.15);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;

    z-index: 3;
  }
  
  .navbar_bigo .menu-items_bigo {
    display: flex;
  }
  
  .navbar_bigo .nav-container li {
    list-style: none;
   
  }
  
   .navLink{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  
 


.navbar_bigo .logo {
  position: absolute;
  left: 70%;
  top: 10%;
  
  font-size: 20px;
  font-weight: 800;

  display: flex;
  border:solid transparent 2px;
  border-radius: 3%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
  0 1px 3px rgba(0, 0, 0, 0.06);
}
 .navbar_bigo .logo a {
  text-decoration: none;
  color: var(--main-color);
  position: relative;
  width: max-content;
  height: 100%;
  
}
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 16px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--main-color);
  }
  
  .nav-container .hamburger-lines .line1 {
    width: 70%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    width: 100%;
    transition: transform 0.2s ease-in-out;
  }
  
 
  
  .navbar_bigo .menu-items_bigo {
    padding-top: 5rem;
    height: 100vh;
    width: 120%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: var(--header-color);
   
  }
  
  
 .menu-items_bigo li {
   position: relative;
    height: 5rem;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
  }

.menu-items_bigo .japNav {
  
  width: 90%;
  height: 50px;
  font-size: 3rem;
  color:var(--jap-color);
  z-index: 0;

}
 .menu-items_bigo a {
    position: relative;
    top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
  }
  

  

  
  .nav-container input[type="checkbox"]:checked ~ .menu-items_bigo {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg) translateY(10px);
    width: 100%;
  
  }
  

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: rotate(-45deg) translateY(-10px);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  
  

 .menu-items_bigo .current {
    color: var(--main-color);
    
  }
  .menu-items_bigo .active {
   
    color: var(--jap-color);
  }

 
  /* FOOTER */

  footer {
    position: relative;
    height: 100px;
    padding: 10px;


  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  background-color:var(--footer-color);
  padding: 10px 0;
  }

  .footer-description {
    display: flex;

    position: absolute;
    bottom: 0;
    left: 0;
   

   
    width: 100%;
  }

  .liens-footer {
    margin-left: 0;
    gap: 10px;
    font-size: 12px;
    margin-left: 5px;

    margin-bottom: 0%;
    font-weight: 700;
    
    
  
  }

  .icone-reseaux {
  
    height: 15px;
    width: 15px;
  
  
  }
  
  
 

  .footer-info {
    font-size: 8px;
    font-weight: 100;
    letter-spacing: 1px;

    position: absolute;
    bottom:  10%;
    
    margin-right: 0.25rem;

    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  }

  .footer-anim {
    display: flex;
    height: 75px;
    width: 61px;
  
    position: absolute;
    left: 44%; 
    right: 25%;
    top: 1%;
   
    
     
    /*animation:moveIcon 5s infinite ease-in-out;*/  /* Animation fluide et infinie */
  }
  
  .footer-anim> img {
    display: flex;
    width: 100%;
    height: 100%;
    padding: none;
  }
}

